$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$mainblue:#1890ff;
$success:#67c23a;
$alert:#e6a23c;
$danger:#f56c6c;
$disable:#909309;
//sidebar
$menuBg:#374586;
$subMenuBg:#2E396C;
$menuHover:#2E396C;
$menuHoverFont: #fff
